<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>StravaMap</title>
  </head>

<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">StravaMap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <!--Begin Strava Connect Button-->
      <form class="form-inline my-2 my-lg-0">
              <a href="{% url 'social:begin' 'strava' %}" class="btn btn-primary" role="button"
            aria-disabled="true">Connect to Strava</a>
      </form>
      <!--End Strava Connect Button-->
  </div>
</nav>
<!--End NavBar-->

<!--Begin Map Container-->
<div class="container">
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            {{ main_map|safe }}
        </div>
    </div>
</div>
<!--End Map Container>

</html>